body {
    background: #f5f6fa;
}

.main {
    display: block;
    margin: 0;
    padding: 32px 40px 0 40px;
    max-width: none;
}

.sucursal-form-container {
    background: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.sucursal-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.guardar-btn {
    align-self: flex-start;
    margin-top: 16px;
    background-color: #737374;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.guardar-btn:hover {
    background-color: #000000;
}

.sucursal-form-kiosko {
    display: flex;
    gap: 0.5em;
    margin-bottom: 1.5em;
}

.sucursal-form-group label {
    font-weight: 500;
    margin-bottom: 4px;
    color: #444;
    font-size: 1em;
}

.sucursal-form-group input,
.sucursal-form-group select,
.sucursal-form-group textarea {
    width: 100%;
    padding: 0.7em;
    border: 1.2px solid #d1d1d1;
    border-radius: 6px;
    font-size: 1em;
}

.grupo-direccion input {
    margin-bottom: 16px;
}

.limite-texto {
    font-size: 0.8em;
    color: #515151;
    margin-top: 5px;
    text-align: right;
}

.horarios-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.horario-col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.filtros-kiosko {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    margin: 12px 0;
}

.filtros-kiosko label {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 0;
}


.kiosko-lista {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 10px;
    margin-top: 10px;
}

.kiosko-item-button {
    padding: 12px;
    text-align: center;
    border-radius: 6px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.kiosko-item-button.selected {
    background-color: #4a90e2;
    color: white;
    border-color: #357ABD;
}